@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, b {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.txt-center {
  text-align: center;
}
